{% load static %} 
{%extends 'base.html' %}
<html>
<head>
    <title>Home</title>
<body>

      <div class="ti">
        <h1 class="h1">Astitva</h1>
        <h2 class="h2">Every development lies in the existence!!</h2>
        <a href="{% url 'platform'%}">
          <button type="button" class="btn btn-outline-secondary">Explore Us</button>
        </a>
      </div>
    </div>
    
      <div class="main-content">
        <center><h1 class="Main-head">Welcome to Astitva</h1><br>
            <h2>Every development lies in the Existence</h2><br>
            <p>Discover a world of innovation and endless opportunities with Astitva. Our virtual company is home to five distinct platforms, each designed to revolutionize industries and empower individuals. Explore our diverse range of offerings and unlock the potential for growth, creativity, and success.The platforms will be getting are Astitva E-commerce, Astitva Studios, Astitva Corporates, Astitva Games, Astitva Blockchains.</p>
            <p>At Astitva, we are committed to pushing boundaries, fostering innovation, and building lasting connections. Join us on this remarkable journey of limitless possibilities. Whether you're an individual seeking new experiences or a business looking for transformation, Astitva has a platform for you.</p>
    
    <p>Unlock your potential. Discover Astitva today!!</p>

    <div class="window-1">
        <div class="img-w1">
            <img src="{% static 'images/ecommerce.png' %}" class="img-fluid" alt="img">
        </div>
        <div class="content-w1">
            <a href="{% url 'platform'%}">
        <h2><strong>Astitva E-commerce</strong></h2></a>
        <p><strong>Here's an insight of Astitva E-commerce</strong></p>
        <p>Join us on this remarkable journey of limitless possibilities. , Astitva has a platform for you</p>
    </div>
</div>
<div class="window-1">
    
    <div class="content-w1">
      <a href="{% url 'platform'%}">
    <h2><strong>Astitva Corporates</strong></h2></a>
    <p>Here's an insight of Astitva E-commerce</p>
    <p>Join us on this remarkable journey of limitless possibilities. , Astitva has a platform for you</p>
</div>
<div class="img-w1">
    <img src="{% static 'images/corporates.png' %}" class="img-fluid" alt="img">
</div>
</div>
<div class="window-1">
    <div class="img-w1">
        <img src="{% static 'images/studios.png' %}" class="img-fluid" alt="img">
    </div>
    <div class="content-w1">
      <a href="{% url 'platform'%}">
    <h2><strong>Astitva Studios</strong></h2></a>
    <p>Here's an insight of Astitva Studios</p>
    <p>Join us on this remarkable journey of limitless possibilities. , Astitva has a platform for you</p>
</div>
</div>
<div class="window-1">
    
    <div class="content-w1">
      <a href="{% url 'platform'%}">
    <h2><strong>Astitva games</strong></h2></a>
    
    <p>Here's an insight of Astitva games</p>
    <p>Join us on this remarkable journey of limitless possibilities. , Astitva has a platform for you</p>
</div>
<div class="img-w1">
    <img src="{% static 'images/games.png' %}" class="img-fluid" alt="img">
</div>
</div>
<div class="window-1">
    <div class="img-w1">
        <img src="{% static 'images/blockchains.png' %}" class="img-fluid" alt="img">
    </div>
    <div class="content-w1">
      <a href="{% url 'platform'%}">
    <h2><strong>Astitva Blockchains</strong></h2></a>
    <p>Here's an insight of Astitva Blockchains</p>
    <p>Join us on this remarkable journey of limitless possibilities. , Astitva has a platform for you</p>
  </div>
</div>
    
 
      <div class="contact">
        <h4>Contact Information</h4><br>
        <p>Founder: Parthiv P.</p>
        <p>Email: <a href="mailto:cbing@example.com">parthiv@gmail.com</a></p>
        <p>Phone: <a href="tel:+91987">+91 9873232</a></p>
        <p>Address: 123 Main Street, New York, USA </p>
    </div>
</body>
</html>